/*default styles*/
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.divisionOne{
    height: 60%;
    width:100%;
    background-color: lightblue;
    position: relative;

}

.divisionOne img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline{
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 100px;
    transform: translate(-20%, -70%);
    color: white;
    z-index: 3;
}

.divisionOne::after{
    content: "";
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
}


h1{
  font-family: 'PT Sans Narrow',Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;

}

body{
  overflow-x: hidden;
  overflow-x: hidden;
}

.btn {
  font-family: 'PT Sans Narrow',Arial, sans-serif;
  transition: all 300ms ease-in-out;
  font-weight: 500 !important;
  text_transform: uppercase;
}


.navbar a:hover{
  border-bottom: solid 2px #00d2ff;
}


.header h1{
  color: #fff;
  text-align: center;
  font-size: 70px;
  margin-top: 250px;

}

.header h3{
  text-align: center;
  color: #ffffff;
}

.flex-container{
  display: flex !important;
  border: 1px solid transparent !important;
  height: 100px;
  justify-content: center;
}
.flex{
  text-align: center;
  align-self: center;

}

.section-one-text{
    width: 30%;
    padding-top: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    float: left;
}



.parallax-window {
    background: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    
}

.slider{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#LandingSection{
    margin-top: 15vh;
}
.sec2{
    height: 100vh;
    width: 100%;
}